<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Football data for the people!</title>
    <!-- core -->
    <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" charset="utf-8"></script>
    <script src="football.js" charset="utf-8"></script>
    <!-- requeries -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="football">
    <div ng-controller="LeagueTableCtrl as leagueTable">

      <header>

        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose League <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Europe Top 5</li>
                  <li><a href="#" ng-click="leagueTable.setReqVal(2)">Premier League</a></li>
                  <li><a href="#" ng-click="leagueTable.setReqVal(46)">La liga</a></li>
                  <li><a href="#" ng-click="leagueTable.setReqVal(47)">Ligue 1</a></li>
                  <li><a href="#" ng-click="leagueTable.setReqVal(48)">Bundesliga</a></li>
                  <li><a href="#" ng-click="leagueTable.setReqVal(49)">Serie A</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>

        <div class="subnav">
          <ul>
            <li ng-class="{ active: leagueTable.tabIsSelected(1)}">
              <a href="#" ng-click="leagueTable.selectTab(1)">League Table</a>
            </li>
            <li ng-class="{ active: leagueTable.tabIsSelected(2)}">
              <a href="#" ng-click="leagueTable.selectTab(2)">Top Scorers</a>
            </li>
          </ul>
        </div>

      </header>

    <div class="table-container container">

      <main>

        <div ng-show="leagueTable.tabIsSelected(1)">
          <h2></h2>
          <div class="row">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th class="col-md-1 center">
                    Position
                  </th>
                  <th class="col-md-5">
                    Team
                  </th>
                  <th class="col-md-1 center">
                    Played
                  </th>
                  <th class="col-md-1 center">
                    Won
                  </th>
                  <th class="col-md-1 center">
                    Drawn
                  </th>
                  <th class="col-md-1 center">
                    Lost
                  </th>
                  <th class="col-md-1 center">
                    Goals
                  </th>
                  <th class="col-md-1 center">
                    Points
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="team in leagueTable.table"
                ng-class="{danger: team.leagueTableClass == 'bottom1', success: team.leagueTableClass == 'top1' || team.leagueTableClass == 'top2', 'cl-playoff': team.leagueTableClass == 'top3', 'el-qualify': team.leagueTableClass == 'top4', 'el-playoff': team.leagueTableClass == 'top5'}">
                  <td class="center">
                    {{team.position}}
                  </td>
                  <td>
                    {{team.name}}
                  </td>
                  <td class="center">
                    {{team.gamesPlayed}}
                  </td>
                  <td class="center">
                    {{team.wins}}
                  </td>
                  <td class="center">
                    {{team.draws}}
                  </td>
                  <td class="center">
                    {{team.losses}}
                  </td>
                  <td class="center">
                    {{team.goalsFor}}:{{team.goalsAgainst}}
                  </td>
                  <td class="center">
                    {{team.points}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-show="leagueTable.tabIsSelected(2)">
          <div class="row">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <th class="col-md-4">
                  Name
                </th>
                <th class="col-md-4">
                  Team
                </th>
                <th class="col-md-1 center">
                  Goals
                </th>
                <th class="col-md-1 center">
                  Assists
                </th>
                <th class="col-md-1 center">
                  <span class="glyphicon glyphicon-stop yellow"></span> Cards
                </th>
                <th class="col-md-1 center">
                  <span class="glyphicon glyphicon-stop red"></span> Cards
                </th>
              </thead>
              <tbody>
                <tr ng-repeat="player in leagueTable.playerStats">
                  <td class="col-md-4">
                    {{player.name}}
                  </td>
                  <td class="col-md-4">
                    {{player.team.name}}
                  </td>
                  <td class="col-md-1 center">
                    {{player.playerstats[0].goals}}
                  </td>
                  <td class="col-md-1 center">
                    {{player.playerstats[0].assists}}
                  </td>
                  <td class="col-md-1 center">
                    {{player.playerstats[0].yellowCards}}
                  </td>
                  <td class="col-md-1 center">
                    {{player.playerstats[0].redCards}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </main>

    </div>
  </body>
</html>
